<!DOCTYPE html>
<html lang="en">
<head>
	<title>Confirmation</title>
	<link rel="stylesheet" type="text/css" href="/templates/interface/assets/css/interface.css">
</head>
<body id = "body" onload="confirm_annotation()">
	<div class="container-3D"> 
		<div id="3d-head" style="justify-content: center;"></div>
	</div>
	<div class="container">
		<div id="confirm-form">
            <h3 style="margin-top: 30px; margin-bottom: 30px;">  Please match the annotation point with the corresponding sound source </h3>
            <div id="2d" style="position: absolute; display: flex;">
			    <div style="width: 180px;">
                    <div id="head" style="background-image: url('/templates/interface/img/head.png');">
                        <div class="circular" id="circular"><div class="indicator" id="head-item" style="display: none;"></div></div>
                    </div>
                    <div id="front" style="background-image: url('/templates/interface/img/front.png');">
                        <div class="circular" id="circularF"><div class="indicator" id="front-item" style="display: none;"></div></div>
                    </div>
                    <div id="side" style="background-image: url('/templates/interface/img/side.png');">
                        <div class="circular" id="circularS"><div class="indicator" id="side-item" style="display: none;"></div></div>
                    </div>
			    </div>

                <div id="match-box" style="margin-left: 50px;">
                </div>
            </div>
		</div>
	</div>
	<script src="//cdn.rawgit.com/mrdoob/three.js/master/build/three.js"></script>
	<script src="//cdn.rawgit.com/mrdoob/three.js/master/examples/js/controls/OrbitControls.js"></script>
	<script src="/templates/interface/assets/js/confirm.js"></script>
</body>
</html>