<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/templates/question/assets/css/question.css">
</head>
<body id = "body">
	<div class="container-3D"> 
		<div id="3d-head" width="400" height="400"></div>
	</div>
	<div class="container" id = "container">
		<form action="/templates/question/submit.html">
			<div id="message">Keyboard Rules</div>
			<h2>Listen to the audio [1 / 3]</h2>
			<audio id="audio" controls>
				<source id = "source" src="/templates/question/assets/audio/test1.wav" type="audio/wav">
				Your browser does not support audio
			</audio>
			<br>
			<label id="question" for="count">How many sources can you hear?</label>
			<select id="count" name="count" style="display: none;">
				<option id="default-option" value="" selected disabled></option>
				<option id="option1" value=1>1</option> <option id="option2" value=2>2</option>
				<option id="option3" value=3>3</option> <option id="option4" value=4>4</option>
				<option id="option5" value=5>5</option> <option id="option6" value=6>6</option>
				<option id="option7" value=7>7</option> <option id="option8" value=8>8</option>
				<option id="option9" value=9>9</option> <option id="option10" value=10>10</option>
			</select>
			<br><br>
			<label id="2d-question" for="2d"></label><br><br>
			<div id="2d">
				<div id="head" style="display: none;">
					<div class="circular" id="circular0"></div>
					<div class="circular" id="circular1" style="display: none;"><div class="indicator" id="head-item-1" style="display: none;"></div></div>
					<div class="circular" id="circular2" style="display: none;"><div class="indicator" id="head-item-2" style="display: none;"></div></div>
					<div class="circular" id="circular3" style="display: none;"><div class="indicator" id="head-item-3" style="display: none;"></div></div>
					<div class="circular" id="circular4" style="display: none;"><div class="indicator" id="head-item-4" style="display: none;"></div></div>
					<div class="circular" id="circular5" style="display: none;"><div class="indicator" id="head-item-5" style="display: none;"></div></div>
					<div class="circular" id="circular6" style="display: none;"><div class="indicator" id="head-item-6" style="display: none;"></div></div>
					<div class="circular" id="circular7" style="display: none;"><div class="indicator" id="head-item-7" style="display: none;"></div></div>
					<div class="circular" id="circular8" style="display: none;"><div class="indicator" id="head-item-8" style="display: none;"></div></div>
					<div class="circular" id="circular9" style="display: none;"><div class="indicator" id="head-item-9" style="display: none;"></div></div>
					<div class="circular" id="circular10" style="display: none;"><div class="indicator" id="head-item-10" style="display: none;"></div></div>
				</div>
				<div id="feedback" style="display: none;"><p id='p-azimuth'></p><p id='p-elevation'></p></div>
				<br>
				<div id="front" style="display: none;">
					<div class="circular" id="circularF0"></div>
					<div class="circular" id="circularF1" style="display: none;"><div class="indicator" id="front-item-1" style="display: none;"></div></div>
					<div class="circular" id="circularF2" style="display: none;"><div class="indicator" id="front-item-2" style="display: none;"></div></div>
					<div class="circular" id="circularF3" style="display: none;"><div class="indicator" id="front-item-3" style="display: none;"></div></div>
					<div class="circular" id="circularF4" style="display: none;"><div class="indicator" id="front-item-4" style="display: none;"></div></div>
					<div class="circular" id="circularF5" style="display: none;"><div class="indicator" id="front-item-5" style="display: none;"></div></div>
					<div class="circular" id="circularF6" style="display: none;"><div class="indicator" id="front-item-6" style="display: none;"></div></div>
					<div class="circular" id="circularF7" style="display: none;"><div class="indicator" id="front-item-7" style="display: none;"></div></div>
					<div class="circular" id="circularF8" style="display: none;"><div class="indicator" id="front-item-8" style="display: none;"></div></div>
					<div class="circular" id="circularF9" style="display: none;"><div class="indicator" id="front-item-9" style="display: none;"></div></div>
					<div class="circular" id="circularF10" style="display: none;"><div class="indicator" id="front-item-10" style="display: none;"></div></div>
				</div>
				<div id="side" style="display: none;">
					<div class="circular" id="circularS0"></div>
					<div class="circular" id="circularS1" style="display: none;"><div class="indicator" id="side-item-1" style="display: none;"></div></div>
					<div class="circular" id="circularS2" style="display: none;"><div class="indicator" id="side-item-2" style="display: none;"></div></div>
					<div class="circular" id="circularS3" style="display: none;"><div class="indicator" id="side-item-3" style="display: none;"></div></div>
					<div class="circular" id="circularS4" style="display: none;"><div class="indicator" id="side-item-4" style="display: none;"></div></div>
					<div class="circular" id="circularS5" style="display: none;"><div class="indicator" id="side-item-5" style="display: none;"></div></div>
					<div class="circular" id="circularS6" style="display: none;"><div class="indicator" id="side-item-6" style="display: none;"></div></div>
					<div class="circular" id="circularS7" style="display: none;"><div class="indicator" id="side-item-7" style="display: none;"></div></div>
					<div class="circular" id="circularS8" style="display: none;"><div class="indicator" id="side-item-8" style="display: none;"></div></div>
					<div class="circular" id="circularS9" style="display: none;"><div class="indicator" id="side-item-9" style="display: none;"></div></div>
					<div class="circular" id="circularS10" style="display: none;"><div class="indicator" id="side-item-10" style="display: none;"></div></div>
				</div>
			</div>
			<input id="btn-button-submit" type="submit" name="btn-button-submit" value="SUBMIT" onclick="ajax_next()" style="display: none;">
			<input id="btn-button-next" type="button" name="btn-button-next" value="NEXT SOURCE" onclick="setNextQuestion()" style="display: none;">
		</form>
	</div>
	<script src="//cdn.rawgit.com/mrdoob/three.js/master/build/three.js"></script>
	<script src="//cdn.rawgit.com/mrdoob/three.js/master/examples/js/controls/OrbitControls.js"></script>
	<script src="/templates/question/assets/js/question.js"></script>
</body>
</html>