*, *::before, *::after {
  box-sizing: border-box;
  font-family: Monaco;
  font-weight: bold;
}

body{
	padding:0;
	margin:0;
	display: flex;
	overflow: hidden;
}

.container,.container-3D{ /* These are the two separated areas of the webpage*/
	height: 100vh;
	width: 100%;
}

.container{ /* This is where user make the annotation */
	background-color: white;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-3D{ /* This is where 3D image is shown */
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

#message{ /* This is for decording keyboard event button */
	padding: 5px;
	width: 170px;
	background-color: black;
	color: white;
	text-align: center;
	cursor: pointer;
}

#btn-button-next,#btn-button-refresh{
	margin-top: 18px;
	width: 170px;
	color: white;
	background-color: black;
	padding:5px;
	cursor: pointer;
}

#btn-button-submit{
	margin-top: 18px;
	float: right;
	width: 200px;
	color: white;
	background-color: black;
	padding: 10px;
	cursor: pointer;
}

audio{
	display: block;
	margin-left: -20px;
	width: 450px;
	background-color: white;
}

audio::-webkit-media-controls-panel {
	background-color: white;
}

audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-current-time-display{
	font-family: Monaco;
	font-weight: bold;
}

.indicator{
	border-radius: 50%; 
	width: 15px; 
	height: 15px;
	cursor: pointer;
}	

.circular{
	position: absolute;
	width: 17px; 
	height: 180px; 
	left: 82.5px;
	/*border: 1px solid white;*/
}

#head, #front, #side, #feedback{
	height: 180px; 
	width: 180px;
	background-size: cover; 
	position: relative;
	vertical-align: top;
	margin-bottom: 8px;
}

#p-azimuth, #p-elevation{
	font-size: 13px;
	display: inline-block;
}

#azimuth-dot, #elevation-dot{
	margin-left: 8px;
	border-radius: 50%; 
	width: 15px; 
	height: 15px;
	display: inline-block;
}

#head-item-1, #front-item-1, #side-item-1{
	background-color: #009dff;
	border-radius: 50%; 
	width: 15px; 
	height: 15px;
}
#head-item-2, #front-item-2, #side-item-2{
	background-color: #ff7f0e;
	border-radius: 50%; 
	width: 15px; 
	height: 15px;
}
#head-item-3, #front-item-3, #side-item-3{
	background-color: #00ff00;
	border-radius: 50%; 
	width: 15px; 
	height: 15px;
}
#head-item-4, #front-item-4, #side-item-4{
	background-color: #ff0000; 
	border-radius: 50%; 
	width: 15px; 
	height: 15px;
}
#head-item-5, #front-item-5, #side-item-5{
	background-color: #9467bd;
	border-radius: 50%; 
	width: 15px; 
	height: 15px;
}
#head-item-6, #front-item-6, #side-item-6{
	background-color: #d3d3d3;
	border-radius: 50%; 
	width: 15px; 
	height: 15px;
}
#head-item-7, #front-item-7, #side-item-7{
	background-color: #c39b77;
	border-radius: 50%; 
	width: 15px; 
	height: 15px;
}
#head-item-8, #front-item-8, #side-item-8{
	background-color: #e377c2;
	border-radius: 50%; 
	width: 15px; 
	height: 15px;
}
#head-item-9, #front-item-9, #side-item-9{
	background-color: #bcbd22; 
	border-radius: 50%; 
	width: 15px; 
	height: 15px;
}
#head-item-10, #front-item-10, #side-item-10{
	background-color: #00ffff;
	border-radius: 50%; 
	width: 15px; 
	height: 15px;
}