*, *::before, *::after {
  box-sizing: border-box;
  font-family: Monaco;
  font-weight: bold;
}

body{
	padding:0;
	margin:0;
	display: flex;
}

.container,.container-3D{
	height: 100vh;
	width: 100%;
}

.container{
	background-color: white;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-3D{
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

#message{
	padding: 5px;
	width: 170px;
	background-color: black;
	color: white;
	text-align: center;
	cursor: pointer;
}

#btn-button-next{
	margin-top: 18px;
	float: right;
	width: 170px;
	color: white;
	background-color: black;
	padding:5px;
}

#btn-button-submit{
	margin-top: 18px;
	float: right;
	width: 200px;
	color: white;
	background-color: black;
	padding: 10px;
}

audio{
	display: block;
	margin-left: -20px;
	width: 450px;
	background-color: white;
}

audio::-webkit-media-controls-panel {
	background-color: white;
}

audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-current-time-display{
	font-family: Monaco;
	font-weight: bold;
}

/* https://www.youtube.com/watch?v=WqgKe3dcXxg */

.indicator{
	border-radius: 50%; 
	width: 15px; 
	height: 15px;
	cursor: move;
}	

.circular{
	position: absolute;
	width: 19.5px; 
	height: 180px; 
	left: 83px;
	/*border: 2px solid white;*/
}

#head, #front, #side{
	height: 180px; 
	width: 180px;
	background-size: cover; 
	position: relative;
}

#head-item-1, #front-item-1, #side-item-1{
	background-color: #009dff;
	border-radius: 50%; 
	width: 15px; 
	height: 15px;
}
#head-item-2, #front-item-2, #side-item-2{
	background-color: #ff7f0e;
	border-radius: 50%; 
	width: 15px; 
	height: 15px;
}
#head-item-3, #front-item-3, #side-item-3{
	background-color: #00ff00;
	border-radius: 50%; 
	width: 15px; 
	height: 15px;
}
#head-item-4, #front-item-4, #side-item-4{
	background-color: #ff0000; 
	border-radius: 50%; 
	width: 15px; 
	height: 15px;
}
#head-item-5, #front-item-5, #side-item-5{
	background-color: #9467bd;
	border-radius: 50%; 
	width: 15px; 
	height: 15px;
}
#head-item-6, #front-item-6, #side-item-6{
	background-color: #d3d3d3;
	border-radius: 50%; 
	width: 15px; 
	height: 15px;
}
#head-item-7, #front-item-7, #side-item-7{
	background-color: #c39b77;
	border-radius: 50%; 
	width: 15px; 
	height: 15px;
}
#head-item-8, #front-item-8, #side-item-8{
	background-color: #e377c2;
	border-radius: 50%; 
	width: 15px; 
	height: 15px;
}
#head-item-9, #front-item-9, #side-item-9{
	background-color: #bcbd22; 
	border-radius: 50%; 
	width: 15px; 
	height: 15px;
}
#head-item-10, #front-item-10, #side-item-10{
	background-color: #00ffff;
	border-radius: 50%; 
	width: 15px; 
	height: 15px;
}