<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="templates/assets/css/index.css">
</head>
<body id = "body">
	<div class="container-3D">
		<!-- <iframe src="https://app.vectary.com/p/4iLiFWzwpiClYYal6P8NmM/" frameborder="0" width="100%" height="480"></iframe> --> 
		<div id="3d-head" width="400" height="400"></div>
	</div>
	<div class="container" id = "container">
		<form action="templates/submit.html">
			<h2>Listen to the audio [1 / 3]</h2>
			<audio id="audio" controls>
				<source id = "source" src="templates/assets/audio/test1.wav" type="audio/wav">
				Your browser does not support audio
			</audio>
			<br>
			<label id="question" for="count">How many sources can you hear?</label>
			<select id="count" name="count" style="display: none;">
				<option id="default-option" value="" selected disabled></option>
				<option value=1>1</option> <option value=2>2</option>
				<option value=3>3</option> <option value=4>4</option>
				<option value=5>5</option> <option value=6>6</option>
				<option value=7>7</option> <option value=8>8</option>
				<option value=9>9</option> <option value=10>10</option>
			</select>
			<br><br>
			<label id="2d-question" for="2d"></label><br><br>
			<div id="2d">
				<div id="head" style="background-image: url('templates/img/head.png'); display: none;">
					<div class="item" id="head-item-1" style="display: none;"></div>
					<div class="item" id="head-item-2" style="display: none;"></div>
					<div class="item" id="head-item-3" style="display: none;"></div>
					<div class="item" id="head-item-4" style="display: none;"></div>
					<div class="item" id="head-item-5" style="display: none;"></div>
					<div class="item" id="head-item-6" style="display: none;"></div>
					<div class="item" id="head-item-7" style="display: none;"></div>
					<div class="item" id="head-item-8" style="display: none;"></div>
					<div class="item" id="head-item-9" style="display: none;"></div>
					<div class="item" id="head-item-10" style="display: none;"></div>
				</div><br>
				<div id="front" style="background-image: url('templates/img/front.png'); display: none;">
					<div class="item" id="front-item-1" style="display: none;"></div>
					<div class="item" id="front-item-2" style="display: none;"></div>
					<div class="item" id="front-item-3" style="display: none;"></div>
					<div class="item" id="front-item-4" style="display: none;"></div>
					<div class="item" id="front-item-5" style="display: none;"></div>
					<div class="item" id="front-item-6" style="display: none;"></div>
					<div class="item" id="front-item-7" style="display: none;"></div>
					<div class="item" id="front-item-8" style="display: none;"></div>
					<div class="item" id="front-item-9" style="display: none;"></div>
					<div class="item" id="front-item-10" style="display: none;"></div>
				</div>
				<div id="side" style="background-image: url('templates/img/side.png'); display: none;">
					<div class="item" id="side-item-1" style="display: none;"></div>
					<div class="item" id="side-item-2" style="display: none;"></div>
					<div class="item" id="side-item-3" style="display: none;"></div>
					<div class="item" id="side-item-4" style="display: none;"></div>
					<div class="item" id="side-item-5" style="display: none;"></div>
					<div class="item" id="side-item-6" style="display: none;"></div>
					<div class="item" id="side-item-7" style="display: none;"></div>
					<div class="item" id="side-item-8" style="display: none;"></div>
					<div class="item" id="side-item-9" style="display: none;"></div>
					<div class="item" id="side-item-10" style="display: none;"></div>
				</div>
			</div>
			<input id="btn-button-submit" type="submit" name="btn-button-submit" value="SUBMIT" onclick="ajax_next()" style="display: none;">
			<input id="btn-button-next" type="button" name="btn-button-next" value="NEXT SOURCE" onclick="setNextQuestion()" style="display: none;">
		</form>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/87/three.js"></script>
	<script type="text/javascript" src="templates/assets/js/index.js"></script>
</body>
</html>