<!DOCTYPE html>
<html lang="en">
<head>
	<title>Consent Form</title>
	<style>
		body{
			margin-top: 6vh;
			margin-bottom:12vh;
		}
		h1{
			text-align: center;
		}
	</style>
</head>
<body>
	<h1>Consent Form</h1>
	<form action="/templates/headphone_check.html" style="padding-left: 20%; padding-right: 20%; font-size: 18px;">
		<p>
			You have been invited to take part in a research study to learn more about the number of
			sounds people can identify on a complex sound scene and their localization ability. This study
			will be conducted by Ana Elisa Mendez, STEINHARDT - Music and Audio Research
			Laboratory (MARL), Steinhardt School of Culture, Education, and Human Development, New
			York University, as a part of her Doctoral Dissertation. Her faculty sponsor is Professor Juan
			Pablo Bello, Deparmtent of STEINHARDT - Music and Audio Research Laboratory (MARL),
			Steinhardt School of Culture, Education, and Human Development, New York University.
		</p>
		<p>
			If you agree to be in this study, you will be asked to do the following:
			<ul>
				<li>Go through a screening to make sure you're wearing headphones</li>
				<li>Listen to audio recordings to count the number of sounds present</li>
				<li>Identify the location of each source</li>
			</ul>
		</p>
		<p>
			Participation in this study will involve 20 minutes total to complete the screening, training and
			question. There are no known risks associated with your participation in this research beyond
			those of everyday life.
		</p>
		<p>
			Although you will receive no direct benefits, this research may help the investigator understand
			the number of sounds people can identify on a complex sound scene and their localization
			ability. You will receive $5.00 for 20 minutes of participation.
		</p>
		<p>
			Confidentiality of your research records will be strictly maintained by not saving any
			personalized data on our database. Your information from this study will not be used for future
			research.
		</p>
		<p>
			Participation in this study is voluntary. You may refuse to participate or withdraw at any time
			without penalty. For interviews, questionnaires, or surveys, you have the right to skip or not
			answer any questions you prefer not to answer.
		</p>
		<p>
			If there is anything about the study or your participation that is unclear or that you do not
			understand, if you have questions or wish to report a research-related problem, you may contact
			Ana Elisa Mendez at (305) 904-5899, anaelisa.mendez@nyu.edu, 370 Jay St, 13th
			Floor, Brooklyn, NY 11201, or the faculty sponsor, Juan Pablo Bello at , jpbello@nyu.edu, 370
			Jay St, 13th Floor, Brooklyn, NY 11201.
		</p>
		<p>
			For questions about your rights as a research participant, you may contact the University
			Committee on Activities Involving Human Subjects (UCAIHS), New York University, 665
			Broadway, Suite 804, New York, New York, 10012, at ask.humansubjects@nyu.edu or (212)
			998-4808. Please reference the study # (IRB-FY2022-6117) when contacting the IRB
			(UCAIHS).
		</p>
		<p> 
			You have received a copy of this consent document to keep.
		</p>
		<button style="height: 40px; font-size: 15px; float: right; cursor: pointer;" onclick="ajax_interaction()"> I Have Read and Agreed With the Above Statement </button>
	</form>
	<script>
		document.onload = () => { 
			window.alert("Please wait patiently until the web page is fully loaded.");
		}

		localStorage.clear();
		
		ajax_start();

		var survey_id = undefined;
		function ajax_start(){
			var request_start = new XMLHttpRequest();
			request_start.open('POST', '/annotation_interface');
			request_start.setRequestHeader('content-type', 'application/json;charset=UTF-8');
			let timestamp = Date.now();
			let data = JSON.stringify({timestamp});
			request_start.send(data);
			request_start.onreadystatechange = function() {
				survey_id = request_start.response;
				localStorage.setItem("survey_id", survey_id);
			}
		}
		function ajax_interaction() {
			localStorage.setItem("agree_consent_form", 1);
			var request = new XMLHttpRequest();
			request.open('POST', '/interaction', true);
			request.setRequestHeader('content-type', 'application/json;charset=UTF-8');
			let action_type = "agree consent form";
			let value = null;
			let timestamp = Date.now();
			let practice = 0;
			let data = JSON.stringify({survey_id,action_type,value,timestamp,practice});
			request.send(data);
		}
	</script>
</body>
</html>