<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="templates/assets/css/index.css">
</head>
<body>
	<div class="container-3D">
		<iframe id="3d" src="https://app.vectary.com/viewer/v1/?model=9aee484b-8121-4049-a084-3e552e3bb162&env=studio3" frameborder="0" width="100%" height="700"></iframe>
	</div>
	<div class="container">
		<form action="templates/finish.html">
			<h2>Listen to the audio [1 / 3]</h2>
			<audio id="audio" controls>
				<source id = "source" src="templates/assets/audio/test1.wav" type="audio/wav">
				Your browser does not support audio
			</audio>
			<br>
			<label id="question" for="count">How many sources can you hear?</label>
			<select id="count" name="count" style="display: none;">
				<option id="default-option" value="" selected disabled></option>
				<option value=1>1</option> <option value=2>2</option>
				<option value=3>3</option> <option value=4>4</option>
				<option value=5>5</option> <option value=6>6</option>
				<option value=7>7</option> <option value=8>8</option>
				<option value=9>9</option> <option value=10>10</option>
				<option value=11>11</option> <option value=12>12</option>
				<option value=13>13</option> <option value=14>14</option>
				<option value=15>15</option>
			</select>
			<br><br>
			<label id="2d-question" for="2d"></label>
			<div id="2d" style="display: none;">
				<img id="head-img" style="display: none;" src="templates/img/head.png">
				<img id="front-img" style="display: none;" src="templates/img/front.png">
				<img id="side-img" style="display: none;" src="templates/img/side.png">
				<canvas id="head" width="220" height="220" style="cursor: crosshair;"></canvas><br>
				<canvas id="front" width="220" height="220" style="cursor: crosshair;"></canvas>
				<canvas id="side" width="220" height="220" style="cursor: crosshair;"></canvas>
			</div>
			<input id="btn-button-submit" type="submit" name="btn-button-submit" value="SUBMIT" onclick="ajax_annotation()" style="display: none;">
			<input id="btn-button-next" type="button" name="btn-button-next" value="NEXT SOURCE" onclick="setNextQuestion()" style="display: none;">
		</form>
	</div>
	<script type="text/javascript" src="templates/assets/js/index.js"></script>
</body>
</html>